*{
    margin: 0;
    padding: 0;

}
html{
    text-align: center;
    background: rgb(135, 96, 135);
}

.one{
    height: 100vh;
    width: max(40% 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h1{
    font-size: 3rem;
    font-weight: 900px;
    text-transform: uppercase;
}
form{
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
form input{
    box-sizing: border-box;
    width: 350px;
    min-width:0;
    height: 50px;
    padding: 1em;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
   border: none;
    
    
}
form input:hover{
    border:10px;
    color:rgb(0, 0, 0);
}
form button{
    margin-top: 10px;
    border-radius: 1000px;
    padding: .85em 4em;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}



a{
    text-decoration: none;
    margin-top: 10px;
    gap:10px;
    color: rgb(4, 13, 109);

}
a:hover{
    text-decoration: underline;

}
p{
   font-size: 20px;
   font-weight: bold;
    margin-top: 10px;

}
form button:hover {
    background-color: #3498db; 
    color: white; 
    border: 1px solid #2980b9; 
    cursor: pointer; 
    transform: scale(1.05); 
    transition: all 0.3s ease; 
}
